aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
allensdk==2.16.2
annotated-types==0.7.0
argschema==3.0.4
asciitree==0.3.3
attrs==25.4.0
blosc2==2.7.1
boto3==1.42.54
botocore==1.42.54
cachetools==7.0.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
Deprecated==1.3.1
distro==1.9.0
elephant==1.1.1
faiss-cpu==1.13.2
fasteners==0.20
filelock==3.24.3
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
future==1.0.0
Glymur==0.14.7
greenlet==3.3.2
h5py==3.15.1
hdmf==4.3.1
idna==3.11
ImageIO==2.37.2
isosplit6==0.1.4
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kilosort==4.1.5
kiwisolver==1.4.9
lazy-ops==0.2.0
lazy_loader==0.4
llvmlite==0.44.0
lxml==6.0.2
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
MEArec==1.9.3
MEAutility==1.5.3
mountainsort5==0.5.8
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
ndindex==1.10.1
ndx-events==0.4.0
neo==0.14.3
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.61.2
numcodecs==0.15.1
numexpr==2.14.1
numpy==1.26.4
packaging==26.0
pandas==2.3.3
patsy==1.0.2
pillow==12.1.1
platformdirs==4.9.2
probeinterface==0.3.1
propcache==0.4.1
psutil==7.2.2
psycopg2-binary==2.9.11
py-cpuinfo==9.0.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pynrrd==1.1.3
pynwb==3.1.3
pyparsing==3.3.2
pypdf==6.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
quantities==0.16.4
referencing==0.37.0
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.30.0
ruamel.yaml==0.19.1
s3transfer==0.16.0
scikit-build==0.18.1
scikit-image==0.24.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
semver==3.0.4
simpleitk==2.5.3
simplejson==3.20.2
six==1.17.0
soundfile==0.13.1
spikeinterface==0.103.2
SQLAlchemy==2.0.46
statsmodels==0.14.6
sympy==1.14.0
tables==3.10.2
threadpoolctl==3.6.0
tifffile==2026.2.20
torch==2.2.2
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wfdb==4.1.2
wrapt==2.1.1
xarray==2023.1.0
yarl==1.22.0
zarr==2.18.7
